<div class="container-fluid  mt-3">
    <div class="row">
        <div class="col-md-6 mb-3">
        </div>
        
        <!-- Button -->
        <div class="col-md-6 mb-3">
          <button type="submit" class="btn btn-success text-white float-right" (click)="onCustomers()">Back to List of Customers</button>
        </div>
        </div>

<div class="row">

    
      
<!-- Table Section - Takes up 8 columns on small and larger screens -->
<div class="col-sm">
<!--<div class="container d-flex align-items-center justify-content-center">--> 

<div class="card border mb-3 rounded">
 <!--- <div><button  class="btn btn-secondary mb-3 " (click)="onAddCustomer()">add Contact</button></div>-->
  <div class="card-header bg-marin text-white mb-3 d-flex justify-content-center align-items-center">
    
    <h3 *ngIf="!customer.id; else update ">Add customer </h3>
    <ng-template #update><h3>Update Customer</h3></ng-template>
</div>

<div class="carfd  border-radius  ml-3 mr-3 mt-3 md-3 ">

    <div class="card-header border-dark custom-card bg-dark text-white">Edit Customer Informations</div>
    <div class="card-body ">
        <form (ngSubmit)="onSubmit()" [formGroup]="customerForm">
       <!---     <form (ngSubmit)="onSubmit()" #form="ngForm">-->

            <div class="form-row">
            <div class="col mb-6  mb-3">
                <label for="name">Name</label>
                <input type="text" id="name"
                 class="form-control" formControlName="name"
                    [ngClass]="{'is-invalid':customerForm.get('name').invalid && customerForm.get('name').dirty}" >
                <div *ngIf="customerForm.get('name').invalid && customerForm.get('name').dirty" class="invalid-feedback">
                    please provide a name</div>
            </div>

            <div class="col  mb-3">
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" name="birthday" class="form-control" formControlName="birthday"
                    [ngClass]="{'is-invalid': customerForm.get('birthday').invalid && customerForm.get('birthday').dirty}" >
                <div *ngIf="customerForm.get('birthday').invalid && customerForm.get('birthday').dirty" class="invalid-feedback">
                    Please provide a valid birthday.</div>
            </div>
        </div>            


            <div class="form-row">
                <div class="col mb-4 ">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" formControlName="email"
                        [ngClass]="{'is-invalid':customerForm.get('email').invalid && customerForm.get('email').dirty,
                        'is-valid':customerForm.get('email').valid}" >
                        <!-- #email="ngModel" required ngModel required pattern="[a-z0-9. %+-]+@[a-z0-9,-]+\.[a-z]{2,4}$" ngModel > --><!--chaque input pour sera connue coomme input pour ngform il faut ajouteer ngMoel-->
                    <div *ngIf="customerForm.get('email').invalid && customerForm.get('name').dirty" 
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('email').hasError('required')">
                        please provide an Email</div>
                    <div *ngIf="customerForm.get('email').hasError('email')">
                        please provide a valid Email
                    </div>
                </div>
                </div>
                <div class="col mb-4">
                    <label for="phone">phoneNumber</label>
                    <input type="number" id="phone" name="phone" class="form-control"
                        formControlName="phone" [ngClass]="{'is-invalid':customerForm.get('phone').invalid && customerForm.get('phone').dirty}">  <!--#website="ngModel" required ngModel required pattern="https?://.+"  >                        
                  -->   <div *ngIf="customerForm.get('phone').invalid && customerForm.get('phone').dirty" class="invalid-feedback" >please provide a valid Number (must be 8 numbers).</div>  
                </div>
               
            </div>
            <div class="form-row">
             

                <div class="col mb-4 ">
                    <label for="licence_number">driver's license number</label>
                <input type="text" id="licence_number" name="licence_number" class="form-control" formControlName="licence_number"
                    [ngClass]="{'is-invalid':customerForm.get('licence_number').invalid && customerForm.get('licence_number').dirty}">
                <div *ngIf="customerForm.get('licence_number').invalid && customerForm.get('licence_number').dirty" class="invalid-feedback">
                    please provide a licenseNumber</div>
            </div>
            <div class="col mb-4 ">
                <label for="startValidity">Start of Validity</label>
                <input type="date" id="startValidity" name="startValidity" class="form-control" formControlName="startValidity"
                    [ngClass]="{'is-invalid': customerForm.get('startValidity').invalid && customerForm.get('startValidity').dirty}" >
                <div *ngIf="customerForm.get('startValidity').invalid && customerForm.get('startValidity').dirty" class="invalid-feedback">
                    Please provide the start date of validity.</div>
            </div>
            
            <div class="col mb-4 ">
                <label for="endValidity">End of Validity</label>
                <input type="date" id="endValidity" name="endValidity" class="form-control" formControlName="endValidity"
                    [ngClass]="{'is-invalid': customerForm.get('endValidity').invalid && customerForm.get('endValidity').dirty}">
                <div *ngIf="customerForm.get('endValidity').invalid && customerForm.get('endValidity').dirty" class="invalid-feedback">
                    Please provide the end date of validity.</div>
            </div>

            </div>
<div class="form-row">
        <label class="btn btn-success p-0 ">
            <input type="file" (change)="selectFile($event)" />
        </label>
        <div *ngIf="currentFile" class="progress my-3">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
        </div>

        <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
    </div>
</div>
            
            <button type="submit" class="btn text-white btn-terk" [disabled]="!customerForm.valid"><!---- [disabled]="!form.valid">--> Save</button>
        </form>
    </div>
</div>

  </div>

  </div>
  </div>

    </div>
  