<div class="container-fluid mt-3">
  <!-- Back Button -->
  <div class="row">
    <div class="col-md-6 mb-3"></div>
    <div class="col-md-6 mb-3">
      <button type="button" class="btn btn-success text-white float-right" (click)="onLocations()">Back to List of Locations</button>
    </div>
  </div>

  <!-- Form Section -->
  <div class="row">
    <div class="col-sm">
      <div class="card border mb-3 rounded">
        <div class="card-header bg-marin text-white mb-3 d-flex justify-content-center align-items-center">
          <h3 *ngIf="!location.id; else update ">Add new Location </h3>
          <ng-template #update><h3>Update Location</h3></ng-template>
        </div>
        <div class="card-body">
<form (ngSubmit)="onSubmit()" [formGroup]="locationForm">
          <!-- Client Information Header -->
          <h4>Client Information</h4>

          <!-- Client Select -->
          <div class="form-group">
            <label for="customer">Select Client:</label>
            <select class="form-control" id="customer" formControlName="customer">
                <option *ngFor="let customer of customers" [ngValue]="customer">{{ customer.name }}</option>
            </select>
        </div>
        

          <!-- Vehicle Information Header -->
          <h4>Vehicle Information</h4>

          <!-- Vehicle Select -->
          <div class="form-group">
            <label for="vehicle">Select Vehicle:</label>
            <select class="form-control" id="vehicle" formControlName="vehicle">
              <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">{{ vehicle.registration }}</option>
            </select>
          </div>

          <!-- Rental Details and Payment Information Header -->
          <h4>Rental Details and Payment Information</h4>

          <!-- Start Date Input -->
          <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" formControlName="startDate" [min]="minStartDate">
          </div>

          <!-- End Date Input -->
          <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" formControlName="endDate"   [min]="minEndDate">
          </div>

          <!-- Price Per Day Input -->
          <div class="form-group">
            <label for="pricePerDay">Price Per Day:</label>
            <input type="number" class="form-control" id="pricePerDay" formControlName="pricePerDay"[disabled] >
          </div>

          <!-- Total Price (Calculated Field) -->
          <div class="form-group">
            <label for="totalPrice">Total Price:</label>
            <input type="text" class="form-control" id="totalPrice" formControlName="totalPrice" [disabled]>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary" [disabled]="!locationForm.valid">Submit</button>

        </form> </div>
      </div>
    </div>
  </div>
</div>
