<div class="container-fluid mt-4">
    <!-- Show Lists of Vehicles Button
    <div class="row mt-4">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary" (click)="onVehicles()">Show Lists of Vehicles</button>
      </div>
    </div>
     -->
     <div class="row">
      <div class="col-md-6 mb-3">
      </div>
      
      <!-- Button -->
      <div class="col-md-6 mb-3">
        <button type="submit" class="btn btn-primary float-right" (click)="onVehicles()">Back to List of Vehicles</button>
      </div>
      </div>
  <div class="row">

    <!-- Left Side: Add New Car -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-marin text-white">
          <h5  *ngIf="!vehicle.id; else update "class="card-title">Add New Car</h5>
          <ng-template #update> <h5 class="card-title">  Update Vehicle</h5></ng-template>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="carForm">
            <!--model-->
            <div class="form-group">
              <label for="model">Model:</label>
              <input type="text" class="form-control" id="model" formControlName="model" placeholder="Enter model">
              <div *ngIf="carForm.get('model').invalid && carForm.get('model').dirty" class="text-danger">
                  Model is required
              </div>
          </div>
                      <!-- Brand -->
                      <div class="form-group">
                        <label for="brand">Brand:</label>
                        <select class="form-control" id="brand" formControlName="brand">
                          <option value="">Select Brand</option>
                          <option value="Toyota">Toyota</option>
                          <option value="Honda">Honda</option>
                          <option value="Ford">Ford</option>
                        </select>
                        <div *ngIf="carForm.get('brand').invalid && carForm.get('brand').dirty" class="text-danger">
                          Brand is required
                        </div>
                      </div>
            <!-- Registration -->
            <div class="form-group">
              <label for="registration">Registration:</label>
              <input type="text" class="form-control" id="registration" formControlName="registration" placeholder="Enter registration number">
              <div *ngIf="carForm.get('registration').invalid && carForm.get('registration').dirty" class="text-danger">
                Registration is required
              </div>
            </div>

            <!-- Date of Registration -->
            <div class="form-group">
              <label for="dateOfRegistration">Date of Registration:</label>
              <input type="date" class="form-control" id="date" formControlName="dateOfRegistration">
              <div *ngIf="carForm.get('dateOfRegistration').invalid && carForm.get('dateOfRegistration').dirty" class="text-danger">
                Date is required
              </div>
            </div>

            <!--status
            <div class="form-group">
              <label for="status">Status:</label>
              <input type="text" class="form-control" id="status" formControlName="status" placeholder="Enter status">
              <div *ngIf="carForm.get('status').invalid && carForm.get('status').dirty" class="text-danger">
                  Status is required
              </div>
          </div>--->
          <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" formControlName="status">
                <option value="">Select Status</option>
                <option value="Available">Available</option>
                <option value="Rent">Rent</option>
            </select>
            <div *ngIf="carForm.get('status').invalid && carForm.get('status').dirty" class="text-danger">
                Status is required
            </div>
        </div>
        
            <!-- Price -->
            <div class="form-group">
              <label for="pricePerDay">Price:</label>
              <input type="number" class="form-control" id="pricePerDay" formControlName="pricePerDay" placeholder="Enter price per Day">
              <div *ngIf="carForm.get('pricePerDay').invalid && carForm.get('pricePerDay').dirty" class="text-danger">
                Price is required and must be greater than or equal to 0
              </div>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary" [disabled]="!carForm.valid">Add Car</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Right Side: Upload Images and Uploaded Images -->
    <div class="col-md-6">
      <!-- Upload Images -->
      <div class="card mb-4">
        <div class="card-header bg-marin text-white">
          <h5 class="card-title">Upload Images</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="images">Car Images:</label>
            <input type="file" class="form-control-file" id="images" multiple (change)="onSelectImages($event)">
            <small class="form-text text-muted">Please upload images of the car.</small>
          </div>
          <!-- Add More Images Button -->
          <button type="button" class="btn btn-primary" [disabled]="!selectedImages.length" (click)="onAddMoreImages()">Add More Images</button>
        </div>
      </div>

      <!-- Uploaded Images -->
      <div class="card">
        <div class="card-header bg-marin text-white">
          <h5 class="card-title">Uploaded Images</h5>
        </div>
        <div class="card-body">
          <div class="row">
          
            <div *ngFor="let imageUrl of imageUrls; let i = index" class="col-md-3 mb-3">
              <div class="card">
                <div class="card-img-container">
                  <img [src]="baseURL+imageUrl" class="card-img-top" alt="Car Image">
                </div>
                <div class="card-body">
                  <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteImage(i)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row">df</div>

</div>
