<div class="az-content az-content-app az-content-contacts pd-b-0">
  <div class="container">
    <app-components-sidebar></app-components-sidebar>

    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Customers</span>
        <span>Details</span>
      </div>
      <div class="row justify-content-between mg-b-20">
        <div class="col-sm-8">
          <h2 class="az-content-title">{{ customer?.name }} Profile</h2>

        </div>
        <div class="col-sm-4 d-flex align-items-center justify-content-end">
          <button mat-stroked-button color="primary" (click)="onCustomers()">
            Customers List
          </button>
        </div>
      </div>
      <div class="az-content-body az-content-body-contacts">

        <div class="az-contact-info-header">
          <div class="media">
            <div class="az-img-user">
              <img *ngIf=" customer && customer.image" [src]="BaseURL+'api/'+customer.image" alt="Customer Photo">
              <img *ngIf="!customer|| !customer.image" [src]="defaultImageUrl" alt="Customer Photo">
            </div>
            <div class="media-body"><h4>{{ customer?.name }}</h4>
              <p>{{ customer?.birthday }}</p>
              <!--<nav class="nav">
                <a href="" class="nav-link">
                  <i class="typcn typcn-device-phone"></i> Call
                </a>
                <a href="" class="nav-link">
                  <i class="typcn typcn-messages"></i> Message
                </a>
                <a href="" class="nav-link">
                  <i class="typcn typcn-user-add-outline"></i> Add to Group
                </a>
                <a href="" class="nav-link">
                  <i class="typcn typcn-cancel"></i> Block</a>
              </nav>-->
            </div>
          </div>
        </div>
        <div class="az-contact-info-body">
          <div class="media-list">
            <div class="media">
              <div class="media-icon">
                <mat-icon>contacts</mat-icon>
              </div>
              <div class="media-body">
                <div><label>Email</label><span
                  class="tx-medium">{{ customer?.phone }}</span>
                </div>
                <div><label>Phone</label><span
                  class="tx-medium">{{ customer?.phone }}</span>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-icon">
                <mat-icon>local_taxi</mat-icon>
              </div>
              <div class="media-body">
                <div><label>Driver's License</label><span
                  class="tx-medium">{{ customer?.licence_number }}</span>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-icon">
                <mat-icon>
                  published_with_changes
                </mat-icon>
              </div>
              <div class="media-body">
                <div><label>License Validity</label><span>empty must be calculated</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
