<div class="az-content az-content-app az-content-contacts pd-b-0">
  <div class="container">
    <app-components-sidebar></app-components-sidebar>
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Vehicles</span>
        <span>List</span>
      </div>
      <div class="row justify-content-between mg-b-20">
        <div class="col-sm-8">
          <h2 class="az-content-title">Vehicles List</h2>
        </div>
        <div class="col-sm-4 d-flex align-items-center justify-content-end">

        </div>
      </div>

      <div *ngIf="dataSource?.data?.length>0; else noCustomers">
        <mat-form-field class="full-width">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. BMW" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model</th>
            <td mat-cell *matCellDef="let row"> {{ row.model }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand</th>
            <td mat-cell *matCellDef="let row"> {{ row.brand }}</td>
          </ng-container>

          <!-- Fruit Column <mat-text-column name="score"></mat-text-column> -->

          <ng-container matColumnDef="registration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration No</th>
            <td mat-cell *matCellDef="let row"> {{ row.registration }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="dateOfRegistration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Date</th>
            <td mat-cell *matCellDef="let row"> {{ row.dateOfRegistration }}</td>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="pricePerDay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price/Day</th>
            <td mat-cell *matCellDef="let row"> {{ row.pricePerDay }} TND</td>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let row"> {{ row.status }}</td>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <div align="center">
                <button color="primary" (click)="onAdd()" mat-stroked-button class="demo-button">
                  <mat-icon>add</mat-icon>
                  New
                </button>
              </div>

            </th>
            <td mat-cell *matCellDef="let row">
              <div class="d-flex justify-content-between align-items-center">
                <button routerLink="/vehicles/{{row.id}}" mat-icon-button>
                  <mat-icon>visibility</mat-icon>
                </button>
                <button routerLink="/vehicles/edit/{{row.id}}" mat-icon-button color="primary">
                  <mat-icon>edit_note</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>

        <mat-divider></mat-divider>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      <div *ngIf="isWaiting" class="text-center">
        <div class="spinner-border" role="status"></div>
        <h4>Loading ... please wait !</h4>
      </div>
      <ng-template #noCustomers>
        <p [hidden]="isWaiting">No Customers</p>
        <div *ngIf="errMess" class="alert alert-danger">
          <strong>Error! </strong> {{ errMess }}
        </div>
      </ng-template>
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->
<!--
      <div class="container mt-4">

        <div class="row">

          <div class="col-md-9 mb-3">
            <input type="text" class="form-control" placeholder="Search vehicles" [(ngModel)]="searchQuery"
                   (ngModelChange)="onFilterChange()">
          </div>

          <-- Button
          <div class="col-md-3 mb-3">
            <button class="btn btn-md btn-primary float-right" (click)="onAdd()">Add a new Vehicle</button>
          </div>
        </div>
        <div class="row">
          <-- <div *ngFor="let c of vehicles$ | async " class="col-md-4 mb-4">
          <div *ngFor="let c of filteredVehicles" class="col-md-4 mb-4">
            <div class="card h-100">
              <img class="card-img-top img-fluid fixed-size" src="{{ baseURL+'api/' + c.image }}" alt="{{ c.model }}">
              <--fixed-size

              <div *ngIf="vehicles.length>0 ; else noVehicles">
                <div class="card-body">
                  <h5 class="card-title">{{ c.model }}</h5>
                  <p class="card-text">{{ c.brand }}</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Registration:</strong> {{ c.registration }}</li>
                    <li class="list-group-item"><strong>Date Of Registration :</strong> {{ c.dateOfRegistration }}</li>
                    <li class="list-group-item "><strong>Price per day: ${{ c.pricePerDay }}</strong></li>
                    <li class="list-group-item "><strong>Status:</strong> {{ c.status }}</li>
                  </ul>
                </div>
              </div>


              <div *ngIf="isWaiting" class="text-center">
                <div class="spinner-border" role="status"></div>
                <h4>Looding ... please wait !</h4>
              </div>
              <ng-template #noVehicles>
                <--  <p>No Contacts</p>
                <p [hidden]="isWaiting">No Vehicles</p>
                <div *ngIf="errMess" class="alert alert-danger">
                  <strong>Error! </strong> {{ errMess }}
                </div>
              </ng-template>
              <--<div class="card-footer bg-transparent border-top-0">
              <div class="card-footer">
                <-- <small class="text-muted">Price per day: ${{ c.pricePerDay }}</small>
                <div class="mt-2">
                  <button class="btn btn-primary btn-sm  mr-2" (click)="viewVehicleDetail(c.id)">Details</button>
                  <button class="btn btn-danger btn-sm " (click)="onDelete(c.id)">Delete</button>
                </div>
                <--<div class="card-footer d-flex justify-content-between">
                  <button class="btn btn-primary" (click)="showDetails(c)">Detail</button>
                  <button class="btn btn-danger" (click)="confirmDelete(c)">Delete</button>
              </div>
            </div>
          </div>
        </div>


      </div>
-->
