<div class="container-fluid bg-secondary">
    <div class="card border-light mb-5">

    </div>

    <div class="row">

      <!-- Card Section - Takes up 4 columns on small and larger screens -->
      <div class="col-sm-2 ">
        <!-- Content for the card goes here -->
        <div class="card mb-4 rounded">
          <div class="card-body">
            <h5 class="card-title">Total Number of Customers</h5>
            <p class="card-text"> 500</p>
          </div>
        </div>
      
         <!-- Another Card Under the First Card -->
      <div class="card  rounded">
        <div class="card-body">
          <h5 class="card-title">Card Title 2</h5>
          <p class="card-text">Some content for the second card.</p>
        </div>
      </div>
    </div>
    
      

       <!-- Table Section - Takes up 8 columns on small and larger screens -->
    <div class="col-sm-10">
<!--<div class="container d-flex align-items-center justify-content-center">--> 

<div class="card border mb-3 rounded">
  <div class="card-header bg-warning text-white  d-flex justify-content-center align-items-center">
    
    <h3>Customers  list</h3><!--I added the d-flex class to make the header a flex container.
      I used justify-content-between to push the heading to the left and the button to the right.
      The align-items-center class is used to vertically align the content in the center.-->
    <!-- <button  class="btn btn-old-gold mb-2 " (click)="onAddCustomer()">add Contact</button>--> 

    </div>
    <div class="card-body">

            
<div class="table-responsive">

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name </th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Adress</th>
        <th scope="col">Zip</th>
        <th scope="col">Country</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers " >
        <th scope="row">{{c.id}}</th>
        <td>
            <div class="d-flex align-items-center">
            <img src="{{BaseURL+c.image}}" alt="Customer Photo" class="mr-2" style="width: 40px; height: 40px; border-radius: 50%;">
            <strong>{{c.name}}</strong>
          </div></td>
        <td>{{c.email}}</td>
        <td>{{c.phone}}</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><a class="btn btn-success  mr-3 "  routerLink="/customers/{{c.id}}" >Detail</a>  <!--routerLink="/contacts/{{c.id}}"-->
       
       <a class="btn btn-warning" routerLink="/customers/edit/{{c.id}}">Edit</a>
          <a class="btn btn-danger  ml-3 " (click) ="onDelete(c.id)">Delete</a></td> <!-- (click)="onDelete(c.id)"-->
      </tr>

    </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div><button  class="btn btn-secondary mb-3 " (click)="onAddCustomer()">add Customer</button></div>

 <!-- </div>--> 
  </div>
  