.btn-old-gold {
    background-color: #8b8b8b; /* Old Gold color */
    color: #fff; /* Text color (white in this example, adjust as needed) */
  }

  .btn-mustard {
    background-color: #FFDB58; /* Mustard color */
    color: #fff; /* Text color (white in this example, adjust as needed) */
  }